* {
    font-family: helvetica, arial, sans-serif;
}

body {
    background-color: whitesmoke;
}

#page-container {
    max-width: 1200px;
    margin: 0 auto;
}

#nav-content {
    text-align: center;
    padding-bottom: 40px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
}

p {
    font-size: 1em;
    font-weight: 400;
}

p#result-round {
    font-weight: bold;
}

#rps-choice-grid {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
}

#rps-choice-grid > div :hover {
    opacity: 65%;
    cursor: pointer;
}

p:hover, img:hover {
    opacity: 100% !important;
}

.rps-choice {
    flex: 3;
    max-width: 300px;
    text-align: center;
}

.rps-choice img {
    max-width: 200px;
    height: auto;
    border-radius: 32px;
}

#result-score {
    text-align: center;
}